<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sorting Visualizer</title>
  </head>

  <body>
    <div class="header">
      <div class="header__inner">
        <nav id="nav" class="navigation"></nav>
        <div class="input-group">
          <label for="elementsRange">Elements:</label>
          <input type="range" id="elementsNum" name="elementsNum" />
        </div>
        <div class="input-group">
          <label for="speedVal">Speed:</label>
          <input type="range" id="speedVal" name="speedVal" />
        </div>
        <button type="button" id="randomizeBtn" class="btn">Randomize</button>
        <button type="button" id="stopBtn" class="btn">Stop</button>
        <button type="button" id="sortBtn" class="btn">Sort</button>
      </div>
    </div>

    <div id="container" class="container"></div>
    <div class="base-line"></div>
  </body>
</html>
