.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323;

  &__inner {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;

    .navigation {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      > div {
        color: #fff;
        height: 100%;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: color 0.15s ease-in;

        &:hover,
        &:focus,
        &:active,
        &.active {
          color: #1ee0eb;
          background: lighten(#232323, 10%);
        }

        &.blocked {
          color: grey;
          background: transparent;
          cursor: default;
        }
      }
    }

    .input-group {
      padding: 0 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      > label {
        color: #fff;
        padding-right: 15px;
      }
    }

    .btn {
      color: #fff;
      height: 100%;
      padding: 0 15px;
      border: none;
      background: transparent;
      transition: background-color, color 0.15s ease-in;
      outline: none;
      cursor: pointer;

      &:disabled,
      &:disabled:hover {
        color: grey;
        background: transparent;
        cursor: default;
      }

      &:hover {
        color: #1ee0eb;
        background: lighten(#232323, 15%);
      }

      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}
